*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}

nav{
    height: 90px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

#logo{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#logo img{
    margin: 15px;
    height: 90%;
    align-self: center;
}

#logo h1{
    font-family: Montserrat, sans-serif;
    padding: 10px;
    align-self: center;
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: row;
}

aside{
    flex-grow: 0;
    background-color: #4b4276;
    height: 100vh;
    display: none;
}

aside h2{
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
}

.sections{
    margin: 25px;
}

#content{
    flex-grow: 1;
}

.navlinks{
    border-top: 2px solid white;
}

.navlinks a{
    text-decoration: none;
    color: white;
    display: block;
}

.navlinks p{
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navlinks p:hover{
    font-weight: bold;
}